zpet: "Back to Home"
page: "Page Not Found"
pageText: "The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for."
accDe: "Access Denied"
accDenText: "You do not have permission to view this page. Please try contacting the website administrator if you believe you should be able to view this page."
opsText: "Your browser sent a request that this server could not understand or process."