zpet: "Zpět na úvodní stránku"
page: "Stránka nenalezena"
pageText: "Stránka, kterou jste požadovali, nebyla nalezena. Adresa může být nesprávná nebo stránka již nemusí existovat. Pro nalezení obsahu, který hledáte, použijte prosím vyhledávač."
accDe: "Přístup odepřen"
accDenText: "Nemáte oprávnění zobrazit tuto stránku. Pokud se domníváte, že byste k ní měli mít přístup, kontaktujte prosím správce webu."
opsText: "Váš prohlížeč odeslal požadavek, kterému tento server nerozumí nebo jej nedokáže zpracovat."
