h1: 'Registration'
h1Login: 'Login'
chceReg: "Don't have an account? Sign up!"
chceLog: 'Already have an account? Log in!'
addProtection: 'Timed out, please submit the form again'
reqJmeno: 'Please fill in your username.'
reqEmail: 'Please fill in your email'
reqHeslo: 'Please enter your password'
reqHesloZn: 'Please re-enter your password.'
jmeno: 'User name'
email: 'Your email'
heslo: 'Password'
hesloZn: 'Enter your password again'
registrovat: 'register'
prihlasit: 'Login'
regSuccess: 'Registration was successful.'
logOut: 'Logout'
errorPas: 'You entered the wrong password'
errorUS: 'You have entered the wrong username'