h1: 'Registrace'
h1Login: 'Přihášení'
chceReg: 'Nemáte účet? Registrujte se!'
chceLog: 'Máte již účet? Přihlaště se!'
addProtection: 'Vypršel časový limit, odešlete formulář znovu'
reqJmeno: 'Prosím vyplňte své uživatelské jméno.'
reqEmail: 'Prosím vyplňte svůj email'
reqHeslo: 'Prosím vyplňte své heslo'
reqHesloZn: 'Prosím vyplňte znovu své heslo.'
jmeno: 'Uživatelské jméno'
email: 'Váš email'
heslo: 'Heslo'
hesloZn: 'Zadejte heslo znovu'
registrovat: 'registrovat'
prihlasit: 'přihlásit se'
regSuccess: 'Registrace byla úspěšná.'
logOut: 'Odhlášení'
errorPas: 'Zadali jste špatné heslo'
errorUS: 'Zadali jste špatné uživatelské jméno'