parameters:

extensions:
    translation: Contributte\Translation\DI\TranslationExtension

routing:
    cache: true

application:
  catchExceptions: true

  # 1) errorPresenter s modulem "Error"
  errorPresenter:
    4xx: Error:Error4xx
    5xx: Error:Error5xx

  # 2) univerzální mapping pro všechny moduly (+ zanořené složky)
  mapping: App\Presentation\*\**Presenter

security:
    authentication:
        expiration: 60 minutes
        cookieName: userId
        cookieDomain: 'new.local'
        cookieSamesite: Lax

database:
    dsn:      'mysql:host=127.0.0.1;dbname=nette_db'
    user:     root
    password: heslo
    options:
        PDO::MYSQL_ATTR_COMPRESS: true

latte:
    strictTypes:   yes
    strictParsing: yes
    extensions:
        - App\Presentation\Accessory\LatteExtension

di:
    lazy: true
    export:
        parameters: no
        tags:       no

session:
    expiration: 30 minutes
    savePath:   "%tempDir%/sessions"

translation:
    locales:
        whitelist: [en, cs]
        default:   cs
        fallback:  [cs]
    dirs:
        - %appDir%/Lang
    returnOriginalMessage: true
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Router
        - Contributte\Translation\LocalesResolvers\Session
        - Contributte\Translation\LocalesResolvers\Parameter